<div class="modal-header bg-warning">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-title ml-3">
                <h4>
                    Master Customer | Form Edit Data
                </h4>
            </div>
        </div>
        <!--<div class="col-xs-3" align="right">-->
        <!--<button ng-click="close()" title="Cancel"  class="btn btn-rounded btn btn-icon btn-default"><i class="glyphicon glyphicon-remove"></i></button>-->
        <!--</div>-->
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="panel panel-blank"> -->

            <div class="panel-body">
                <form class="form-horizontal form-validation " name="landaform" novalidate="">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 mt-1"><b>Nama Customer<span class="text-danger">*</span></b></label>
                            <input type="text" class="form-control form-control-sm col-sm-9" placeholder="Nama Customer"
                                ng-model="formModal.nama">
                        </div>

                        <!-- <div class="form-group">
                                <label class="col-sm-3 text-form ">
                                    Mengetahui
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="input-group col-md-12">
                                            <ui-select ng-model="formprint.id" theme="bootstrap">
                                                <ui-select-match placeholder="Pilih Sales">
                                                    {{$select.selected.nama}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                repeat="value in karyawan | filter : $select.search">
                                                    {{value.nama}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div> -->

                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 mt-1"><b>Contact Person<span class="text-danger">*</span></b></label>
                            <input type="text" class="form-control form-control-sm col-sm-9"
                                placeholder="Telepon Customer" ng-model="formModal.telepon">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 mt-1"><b>Alamat Customer<span
                                        class="text-danger">*</span></b></label>
                            <textarea type="text" class="form-control form-control-sm col-sm-9"
                                placeholder="Alamat Customer" ng-model="formModal.alamat"></textarea>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="hidden" ng-model="formModal.id_customer.id">
                    </div>
                </form>
            </div>

            <!-- </div> -->
        </div>
    </div>
</div>
<!--</div>-->
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">
        <i class="glyphicon glyphicon-remove">
        </i>
        Batal
    </button>
    <button autosave="" class="btn btn-warning" ng-click="update(formModal)" ng-hide="is_view">
        <i class="fa fa-save">
        </i>
        Update
    </button>
</div>